@media all and (max-width: 800px) {
	.hide-on-mobile {
		display: none;
	}

	.sidebar {
		position: relative;
		width: 100%;
		height: $sidebarWidth;

		padding: 20px 20px 20px 20px;

		text-align: center;
		color: #fff;
		font-size: 15px;

		-webkit-transform: translateZ(0);

		.description {
			display: none;
		}

		.circle {
			width: 100px;
			height: 100px;
		}

		.logo {
			margin-top: 125px;
			max-width: 150px;
			float: right;
		}

		.subheader {
			position: absolute;
			bottom: 0;
			right: 180px;
			margin-bottom: 10px;
		}
	}

	.content {
		margin-left: 0px;
	}
}